* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(255, 255, 255);
  --text-color-sub: rgba(255, 255, 255, 0.3);
  --bg-url: url(./assets/bg-mobile-dark.jpg);
  --stroke-color: rgba(255, 255, 255, 0.15);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.05);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --text-color-sub: rgba(0, 0, 0, 0.5);
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.075);
  --surface-color: rgba(0, 0, 0, 0.15);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* PERFIL ===================*/

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#profile span {
  font-size: 12px;
  color: var(--text-color-sub);
}

/*INFOS E BOTÃO ===================*/

#infoswitch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

#infos p {
  font-size: 12px;
  color: var(--text-color-sub);
}

/*BOTÃO ===================*/

#switch {
  position: relative;
  width: 64px;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  /* FORMA DE ALINHAR POSICIONAMENTO ABSOLUTO*/
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slider-back 0.2s;
}

.light #switch button {
  animation: slider-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  border: 1px solid red;
  width: 64px;
  height: 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
}

/*LINKS ===================*/

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 16px;

  border-radius: 50%;

  transition: background 0.5s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* MEDIA QUERIES ==================*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop-dark.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* ANIMAÇÕES =================== */
@keyframes slider-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slider-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
